        @media (min-width: 1025px) {
            .discover-grid {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas:
                    "card1 card1 card2"
                    "card3 card4 card4"
                    "card5 card5 card6"
                    "card7 card8 card8";
            }

            .stats-grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }