@media (min-width: 641px) {
            .discover-grid {
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "card1 card1"
                    "card2 card3"
                    "card4 card4"
                    "card5 card6"
                    "card7 card7"
                    "card8 card8";
            }

            #card1 { grid-area: card1; }
            #card2 { grid-area: card2; }
            #card3 { grid-area: card3; }
            #card4 { grid-area: card4; }
            #card5 { grid-area: card5; }
            #card6 { grid-area: card6; }
            #card7 { grid-area: card7; }
            #card8 { grid-area: card8; }

            .stats-grid {
                grid-template-columns: 1fr 1fr;
            }

            .card-image:hover {
                transform: scale(1.05);
                transition: 0.3s;
            }
        }