body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: #FF937E;
}

main {
    background-color: #FF5555;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
    padding: 15px;
}
h2{
    font-style: italic;
    color: #C1E59F;
    text-align: center;
}
